@using School.DataModels.Models

@model SubjectsBL<Subjects>



<div class="card">
    <div class="card-header ; text-center">Update subject</div>

    <form method="post" asp-controller="Subjects" asp-action="EditSubject">
        <div class="card-body">


            <div class="form-group">
              
                <input type="hidden" class="form-control" asp-for="@Model.Data.SubjectId">
            </div>
            <div class="form-group">
                <label>Subject Name</label>
                <input type="text" class="form-control" asp-for="@Model.Data.SubjectName">
            </div>
            <div class="form-group">
                <label>Subject Description</label>
                <input type="text" asp-for="@Model.Data.SubjectDescription" class="form-control">
            </div>
           


        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary ">Update subject</button>
        </div>
    </form>
</div>

